<div class="loginRegistrationContainer" ng-if="vm.show === 'login'">
    <form name="userForm" novalidate >
        <h2 class="userTitle">Sign In</h2>
        <div class="form-group">
            <label class="control-label">Email</label>
            <div ng-if="vm.loginError" class="block pull-right loginRegistrationError">{{vm.loginError}}</div>
            <input type="email" set-focus="true" name="email" class="form-control loginRegistrationInput email setFocus" ng-model="vm.loginData.email" required />
        </div>
        <div class="form-group">
            <label class="control-label">Password</label>
            <a class="pull-right" ng-click="vm.showForm('resetPassword')">Forgot Password?</a>
            <input type="password" name="password" class="form-control loginRegistrationInput" ng-model="vm.loginData.password" required />
            <a ng-click="vm.showForm('register')">Don't Have An Account? Register Here</a>
        </div>
        <button class="btn btn-info userSubmit" ng-click="vm.login(userForm.$valid)">Login</button>
        <h4 class="text-center modalDivider">Or</h4>
        <a id="signInButton" class="btn btn-social btn-google"><span class="fa fa-google googleIcon"></span>Sign in with Google</a>
        <a id="facebookBtn" ng-click="vm.fbLogin()" class="btn btn-social btn-facebook"><span class="fa fa-facebook facebookIcon"></span>Sign in with Facebook</a>
    </form>
</div>

<div class="loginRegistrationContainer" ng-if="vm.show === 'firstLogin4OAuth'">
    <form name="userForm" novalidate>
        <h2 class="userTitle">Sign In</h2>
        <div class="form-group">
            <label class="control-label">Email</label>
            <div ng-if="vm.loginError" class="block pull-right loginRegistrationError">{{vm.loginError}}</div>
            <input type="email" set-focus="true" name="email" class="form-control loginRegistrationInput email" ng-model="vm.loginData.email" required />
        </div>
        <div class="form-group">
            <label class="control-label">Password</label>
            <a class="pull-right" ng-click="vm.showForm('resetPassword')">Forgot Password?</a>
            <input type="password" name="password" class="form-control loginRegistrationInput" ng-model="vm.loginData.password" required />
            <a ng-click="vm.showForm('register')">Don't Have An Account? Register Here</a>
        </div>
        <button class="btn btn-info userSubmit" ng-click="vm.oAuthLogin(userForm.$valid)">Login</button>
    </form>
</div>


<div class="loginRegistrationContainer" ng-if="vm.show === 'register'">
    <form name="userForm" novalidate>
        <h2 class="userTitle">Register</h2>
        <div class="form-group">
            <label class="control-label">First Name</label>
            <div class="pull-right loginRegistrationError" ng-show="userForm.firstName.$touched && userForm.firstName.$error.required || userForm.$submitted && userForm.firstName.$pristine">Required</div>
            <div class="pull-right loginRegistrationError" ng-show="userForm.firstName.$error.pattern">No Special characters or numbers</div>
            <input type="text" set-focus="true" name="firstName" class="form-control loginRegistrationInput setFocus" ng-model="vm.registerData.firstName" ng-pattern="/^[a-zA-Z\-áéíóúüñ]*$/" required />
        </div>
        <div class="form-group">
            <label class="control-label">Last Name</label>
            <div class="pull-right loginRegistrationError" ng-show="userForm.lastName.$touched && userForm.lastName.$error.required || userForm.$submitted && userForm.lastName.$pristine">Required</div>
            <div class="pull-right loginRegistrationError" ng-show="userForm.lastName.$error.pattern">No Special characters or numbers</div>
            <input type="text" name="lastName" class="form-control loginRegistrationInput" ng-model="vm.registerData.lastName" ng-pattern="/^[a-zA-Z\-áéíóúüñ]*$/" required />
        </div>
        <div class="form-group">
            <label class="control-label">Email</label>
            <div class="pull-right">
                <div ng-if="vm.registerEmailError" class="loginRegistrationError">Email already exists</div>
                <div class="loginRegistrationError" ng-show="userForm.email.$touched && userForm.email.$error.required || userForm.$submitted && userForm.email.$pristine">Required</div>
                <div class="loginRegistrationError" ng-show="userForm.email.$touched && userForm.email.$error.email">Needs to be valid email</div>
            </div>
            <input id="email" type="email" name="email" class="form-control loginRegistrationInput email" ng-model="vm.registerData.email" required />
        </div>
        <div class="form-group">
            <label class="control-label">Username</label>
            <div class="pull-right">
                <div ng-if="vm.registerUserNameError" class="loginRegistrationError">Username already exists</div>
                <div ng-if="vm.registerUserNameValidationError" class="loginRegistrationError">Invalid</div>
                <div class="loginRegistrationError" ng-show="userForm.userName.$touched && userForm.userName.$error.required || userForm.$submitted && userForm.userName.$pristine">Required</div>
                <div class="loginRegistrationError" ng-show="userForm.userName.$touched && userForm.userName.$error.pattern">Invalid</div>
            </div>
            <input id="userName" type="text" name="userName" class="form-control loginRegistrationInput" ng-model="vm.registerData.userName" ng-pattern="/^[-a-z0-9_]{6,16}$/i" required />
            <p class="loginRegistrationSmall">No special characters, 6-16 alphanumeric</p>
        </div>
        <div class="form-group">
            <label class="control-label">Password</label>
            <div class="pull-right">
                <div class="loginRegistrationError" ng-show="userForm.password.$touched && userForm.password.$error.required || userForm.$submitted && userForm.password.$pristine">Required</div>
                <div class="loginRegistrationError" ng-show="userForm.password.$touched && userForm.password.$error.minlength">Minimum 8 characters</div>
            </div>
            <input type="password" name="password" class="form-control loginRegistrationInput" ng-model="vm.registerData.password" ng-minlength="8" required />
        </div>
        <div class="form-group">
            <label class="control-label">Confirm Password</label>
            <div class="pull-right">
                <div class="loginRegistrationError" ng-show="userForm.confirmPassword.$touched && userForm.confirmPassword.$error.required || userForm.$submitted && userForm.confirmPassword.$pristine">Required</div>
                <div class="loginRegistrationError" ng-show="userForm.confirmPassword.$touched && !userForm.confirmPassword.$error.required && userForm.password.$viewValue != userForm.confirmPassword.$viewValue">Passwords do not match</div>
            </div>
            <input type="password" name="confirmPassword" class="form-control loginRegistrationInput" ng-model="vm.registerConfirmPassword" required />
            <a ng-click="vm.showForm('login')">Already a user? Login Here</a>
        </div>
        <button class="btn btn-info userSubmit" ng-click="vm.register(userForm.$valid)">Submit</button>
    </form>
</div>

<div class="loginRegistrationContainer" ng-if="vm.show === 'resetPassword'">
    <form name="userForm" novalidate>
        <h2 class="text-center userTitle">Password Assistance</h2>
        <label class="control-label">Email</label>
        <div class="pull-right">
            <div class="loginRegistrationError" ng-show="userForm.email.$touched && userForm.email.$error.required || userForm.$submitted && userForm.email.$pristine">Required</div>
            <div class="loginRegistrationError" ng-show="userForm.email.$touched && userForm.email.$error.email">Needs to be valid email</div>
        </div>
        <input type="email" set-focus="true" name="email" class="form-control resetPasswordInput setFocus email loginRegistrationInput setFocus" ng-model="vm.forgotPasswordData.email" required />
        <button class="btn btn-info userSubmit" ng-click="vm.forgotPassword(userForm.$valid)">Reset Password</button>
        <div class="text-center">
            <a ng-click="vm.showForm('login')">Back to Sign In</a>
        </div>
    </form>
</div>

<div class="loginRegistrationContainer" ng-if="vm.show === 'thirdPartyRegister'">
    <form name="userForm" novalidate>
        <h2 class="userTitle">Register</h2>
        <div class="form-group">
            <label class="control-label">First Name</label>
            <div class="pull-right loginRegistrationError" ng-show="userForm.firstName.$touched && userForm.firstName.$invalid || userForm.$submitted && userForm.firstName.$invalid">Required</div>
            <input type="text" set-focus="true" name="firstName" class="form-control loginRegistrationInput setFocus" ng-model="vm.registerData.firstName" required />
        </div>
        <div class="form-group">
            <label class="control-label">Last Name</label>
            <div class="pull-right loginRegistrationError" ng-show="userForm.lastName.$touched && userForm.lastName.$invalid || userForm.$submitted && userForm.lastName.$invalid">Required</div>
            <input type="text" name="lastName" class="form-control loginRegistrationInput" ng-model="vm.registerData.lastName" required />
        </div>
        <div class="form-group">
            <label class="control-label">Email</label>
            <div class="pull-right">
                <div ng-if="vm.registerEmailError" class="loginRegistrationError">Email already exists</div>
                <div class="loginRegistrationError" ng-show="userForm.email.$touched && userForm.email.$error.required || userForm.$submitted && userForm.email.$pristine">Required</div>
                <div class="loginRegistrationError" ng-show="userForm.email.$touched && userForm.email.$error.email">Needs to be valid email</div>
            </div>
            <input type="email" name="email" class="form-control loginRegistrationInput emails" ng-model="vm.registerData.email" required />
        </div>
        <div class="form-group">
            <label class="control-label">Username</label>
            <div class="pull-right">
                <div ng-if="vm.registerUserNameError" class="loginRegistrationError">Username already exists</div>
                <div ng-if="vm.registerUserNameValidationError" class="loginRegistrationError">Must be 6-16 characters, minimum 3 letters (a-z, 0-9, no special characters)</div>
                <div class="loginRegistrationError" ng-show="userForm.userName.$touched && userForm.userName.$error.required || userForm.$submitted && userForm.userName.$pristine">Required</div>
                <div class="loginRegistrationError" ng-show="userForm.userName.$touched && userForm.userName.$error.pattern">Must be 6-16 characters, minimum 3 letters (a-z, 0-9, no special characters)</div>
            </div>
            <input type="text" name="userName" class="form-control loginRegistrationInput" ng-model="vm.registerData.userName" ng-pattern="/^(?=([a-z].*){3})[-a-z0-9_]{6,16}$/i" required />
            <p>Already registered an email with BLAK Wealth? Click<a ng-click="vm.show ='firstLogin4OAuth'">&nbsp;<u>here</u>&nbsp;</a></p>
        </div>
        <button class="btn btn-info userSubmit" ng-click="vm.register(userForm.$valid)">Submit</button>
    </form>
</div>